/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

body {
  background-image: url("images/rock.gif");
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
.profile {
  border-radius: 20%;
  height: 400px;
  margin: 20px;
  box-shadow: 0px 0px 34px 27px rgba(249,255,89,0.77);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 25px;
}


/* hit the man with some recs */
.recommendation-box {
  border: 3px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  max-width: 40%;
}

.recommendation-title {
  font-size: 30px;
}

.recommendation {
  padding: 10px;
}


/* Dat bounce */
.banner {
  height: 70px;	
  overflow: hidden;
  position: relative;
  background: magenta;
 }
 .banner h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Apply animation to this element */	
  -moz-animation: banner 5s linear infinite alternate;
  -webkit-animation: banner 5s linear infinite alternate;
  animation: banner 5s linear infinite alternate;
 }
 /* Move it (define the animation) */
 @-moz-keyframes banner {
  0%   { -moz-transform: translateX(70%); }
  100% { -moz-transform: translateX(0%); }
 }
 @-webkit-keyframes banner {
  0%   { -webkit-transform: translateX(70%); }
  100% { -webkit-transform: translateX(0%); }
 }
 @keyframes banner {
  0%   { 
  -moz-transform: translateX(70%); /* Firefox bug fix */
  -webkit-transform: translateX(70%); /* Firefox bug fix */
  transform: translateX(70%); 		
  }
  100% { 
  -moz-transform: translateX(0%); /* Firefox bug fix */
  -webkit-transform: translateX(0%); /* Firefox bug fix */
  transform: translateX(0%); 
  }
 }